@model SysDev.Models.UserProfile
@{
    ViewBag.Title = "Details";
    Layout = null;
}

@Html.AntiForgeryToken()
<div class="modal-header">
    <h4 id="exampleModalLongTitle">

        <a class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
    </h4>
    <div class="row">
        <div class="col-md-4">
            <img src="~/admin-lte/img/flat-face-male-o.png" class="user-image" alt="User Image" style="width: 150px;">
        </div>
        <div class="col-md-6 v-devider">
            <p></p>
            <p></p>
            <p class="lead user-details">@Model.FirstName <small class="text-muted">Mendez</small> @Model.LastName</p>
            <p class="user-details m-b-10" id="position"><small>Developer</small></p>
            <p></p>
            <p class="user-details"><span class="text-muted">Contact No:</span> 09770975881</p>
            <p class="user-details"><span class="text-muted">Email:</span> glen2mampil.official@gmail.com</p>
            <p class="user-details"><span class="text-muted">Gender:</span> Male</p>
            <p class="user-details"><span class="text-muted">Marital Status:</span> Sigle</p>
            <p></p>
            <p class="user-details"><span class="text-muted">Company:</span> Bluebell Corporation of the Philippines</p>
            <p class="user-details"><span class="text-muted">Company ID:</span> BBX19592-1</p>
            <p></p>
            <h1></h1>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
<div class="modal-body" id="modal-content">
    Recent Activities

</div>

