

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.activePage = "Users";
}

<div class="row">

    <div class="col-md-12" style="margin-bottom: 10px;">
        <a id="btnCreate" class="pull-right" data-toggle="modal" href="#myModal"><i class="fa fa-user-plus fa-2x"></i></a>
    </div>




    <div class="col-xs-12">
        <div class="box flat">
            <div class="box-header">

                <div class="box-tools">
                    
                </div>
            </div>
            <!-- /.box-header -->
            <div id="users-table" class="box-body table-responsive no-padding">
                
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">

        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#users-table").fadeOut(800, function () {
                $("#users-table").load("/UserProfile/List").fadeIn().delay(2000);
            });
            $('#btnCreate').click(function (e) {
                $("#modal-content").load("/UserProfile/Create");
            });
        });
        
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}