@model SysDev.Models.ReportViewModel

@{
    ViewBag.Title = "Audit Trail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
       
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="audittrail-table" class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Commit by</th>
                        <th>Module</th>
                        <th>Action</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    
                    <thead id="filter">
                    <tr>
                        <th>Date</th>
                        <th>Commit by</th>
                        <th>Module</th>
                        <th>Action</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Date</th>
                        <th>Commit by</th>
                        <th>Module</th>
                        <th>Action</th>
                        <th>Description</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            
            var table = $("#audittrail-table").DataTable({
                    ajax: {
                        url: "/api/audittrails",
                        dataSrc: ""
                        
                    },
                    columns: [
                        {
                            data: "DateCreated",
                            render: function (data, type, full) {
                                var date = new Date(full.DateCreated);
                                var options = {
                                    weekday: "long", year: "numeric", month: "short",
                                    day: "numeric", hour: "2-digit", minute: "2-digit"
                                };
                                return "<small class=''>" + date.toLocaleTimeString("en-us", options) + "</small>";
                            }
                        },
                        {
                            data: "UserProfile.FirstName",
                            render: function (data, type, full, meta) {
                                return full.UserProfile.FirstName + full.UserProfile.LastName;
                            }

                        }, {
                            data: "UserProfileId"

                        },
                        {
                            data: "Action"

                        },
                        {
                            data: "Description"

                        }
                    ]
            });

            $('#audittrail-table #filter th').each(function (i) {
                var title = $('#audittrail-table #filter th').eq($(this).index()).text();
                $(this).html('<input type="text" placeholder="Filter ' + title + '" data-index="' + i + '" />');
            });

            // Filter event handler
            $(table.table().container()).on('keyup', '#filter input', function () {
                table
                    .column($(this).data('index'))
                    .search(this.value)
                    .draw();
            });
            
            

        });
    </script>
}
